#   .

      .  ,              .         .
             ,        .

###  1.

       .

In [1]:
import pandas as pd #   pandas

In [2]:
df = pd.read_csv('/datasets/data.csv')  #        df

In [3]:
df.head(10) #   10   df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,,0,/,0,F,,0,253875.639453,
1,1,-4024.803754,36,,1,/,0,F,,0,112080.014102,
2,0,-5623.422610,33,,1,/,0,M,,0,145885.952297,
3,3,-4124.747207,32,,1,/,0,M,,0,267628.550329,
4,0,340266.072047,53,,1,,1,F,,0,158616.077870,
5,0,-926.185831,27,,0,,1,M,,0,255763.565419,
6,0,-2879.202052,43,,0,/,0,F,,0,240525.971920,
7,0,-152.779569,50,,1,/,0,M,,0,135823.934197,
8,2,-6929.865299,35,,0,,1,F,,0,95856.832424,
9,0,-2188.756445,41,,1,/,0,M,,0,144425.938277,

In [4]:
df.info()  #        df

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21525 non-null  int64

 1   days_employed     19351 non-null  float64

 2   dob_years         21525 non-null  int64

 3   education         21525 non-null  object

 4   education_id      21525 non-null  int64

 5   family_status     21525 non-null  object

 6   family_status_id  21525 non-null  int64

 7   gender            21525 non-null  object

 8   income_type       21525 non-null  object

 9   debt              21525 non-null  int64

 10  total_income      19351 non-null  float64

 11  purpose           21525 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

  12 .       `object`, `int64`, `float64`.

   :
* `children `     ;
* `days_employed`      ;  
* `dob_years`     ;
* `education`    ;
* `education_id`    ;
* `family_status`   ;
* `family_status_id`    ;
* `gender `   ;
* `income_type `    ;
* `debt`       ;
* `total_income`   ;
* `purpose`    .

    ,         . 
C days_employed      (),  education - ,    ( ).
    days_employed  total_income    non-null.                .      .
      .

###  2.1

In [5]:
#print(f'   = {(21525-19351)/21525:,.2%}')

In [6]:
df.isna().mean()

children            0.000000
days_employed       0.100999
dob_years           0.000000
education           0.000000
education_id        0.000000
family_status       0.000000
family_status_id    0.000000
gender              0.000000
income_type         0.000000
debt                0.000000
total_income        0.100999
purpose             0.000000
dtype: float64

          10.1%.    ,    .

      .

 'days_employed'

In [7]:
print(df['days_employed'])
print()
print("  = ",df[df['days_employed']<0]['days_employed'].count())
print()
days_employed_median = df['days_employed'].median()
print(days_employed_median)

0         -8437.673028

1         -4024.803754

2         -5623.422610

3         -4124.747207

4        340266.072047

             ...

21520     -4529.316663

21521    343937.404131

21522     -2113.346888

21523     -3112.481705

21524     -1984.507589

Name: days_employed, Length: 21525, dtype: float64



  =  15906



-1203.369528770489

    ,      (  )     -   .

In [8]:
#      
def negative_to_pozitive(value):
    if value < 0:
        value *= -1
        return value
    else:
        return value

df['days_employed'] = df['days_employed'].apply(negative_to_pozitive)
df['days_employed'] = df['days_employed'].fillna(days_employed_median)
print(df['days_employed'])

0          8437.673028

1          4024.803754

2          5623.422610

3          4124.747207

4        340266.072047

             ...

21520      4529.316663

21521    343937.404131

21522      2113.346888

21523      3112.481705

21524      1984.507589

Name: days_employed, Length: 21525, dtype: float64

     ,     .
        ,      .

 'total_income'

In [9]:
print(df['total_income']) 
display(df[df['total_income'].isnull()].head(10))

0        253875.639453

1        112080.014102

2        145885.952297

3        267628.550329

4        158616.077870

             ...

21520    224791.862382

21521    155999.806512

21522     89672.561153

21523    244093.050500

21524     82047.418899

Name: total_income, Length: 21525, dtype: float64

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,-1203.369529,65,,1,,1,M,,0,NaN,
26,0,-1203.369529,41,,1,/,0,M,,0,NaN,
29,0,-1203.369529,63,,1,/,4,F,,0,NaN,
41,0,-1203.369529,50,,1,/,0,F,,0,NaN,
55,0,-1203.369529,54,,1,,1,F,,1,NaN,
65,0,-1203.369529,21,,1,/,4,M,,0,NaN,
67,0,-1203.369529,52,,0,/,0,F,,0,NaN,
72,1,-1203.369529,32,,0,/,0,M,,0,NaN,
82,2,-1203.369529,50,,0,/,0,F,,0,NaN,
83,0,-1203.369529,52,,1,/,0,M,,0,NaN,

  10 :   "dob_years"  ,     21  65.   ,    - .        .    'total_income'   (median).

In [10]:
total_income_median = df['total_income'].median() #  
print(total_income_median)
print()
df['total_income'] = df['total_income'].fillna(total_income_median)
print(df['total_income'])

145017.93753253992



0        253875.639453

1        112080.014102

2        145885.952297

3        267628.550329

4        158616.077870

             ...

21520    224791.862382

21521    155999.806512

21522     89672.561153

21523    244093.050500

21524     82047.418899

Name: total_income, Length: 21525, dtype: float64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21525 non-null  int64

 1   days_employed     21525 non-null  float64

 2   dob_years         21525 non-null  int64

 3   education         21525 non-null  object

 4   education_id      21525 non-null  int64

 5   family_status     21525 non-null  object

 6   family_status_id  21525 non-null  int64

 7   gender            21525 non-null  object

 8   income_type       21525 non-null  object

 9   debt              21525 non-null  int64

 10  total_income      21525 non-null  float64

 11  purpose           21525 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

       , .    ,       .

     ()  ,        - .     .     .

###  2.2      .

 'children'

In [12]:
print(df['children'].value_counts())

 0     14149

 1      4818

 2      2055

 3       330

 20       76

-1        47

 4        41

 5         9

Name: children, dtype: int64

    ,   ,   1, 2   .    20  (76)  -1 (47).   ,    .     0.56%   .     ,  .

In [13]:
i1 = df[df['children']==-1].index #  47    -1
print(i1)
i20 = df[df['children']==20].index #  76    20 
print(i20)
print()
#  
str_del_count=0
try:
    for drop_str in i1:
        df = df.drop(drop_str)
        str_del_count+=1
except:
    print('  ')
print('-   c "-1" =', str_del_count)

str_del_count=0
try:
    for drop_str in i20:
        df = df.drop(drop_str)
        str_del_count+=1
except:
    print('  ')    
print('-   c "20" =', str_del_count)
print()
# 
print(df[df['children']==20].head())
print(df[df['children']==-1].head())
  
df = df.reset_index(drop=True)
df.info()

Int64Index([  291,   705,   742,   800,   941,  1363,  1929,  2073,  3814,

             4201,  4402,  4542,  5272,  6013,  6385,  7190,  7278,  7615,

             7685,  8229,  8251,  8561,  9565,  9574, 10177, 10365, 10918,

            11109, 11268, 11617, 12304, 13786, 14357, 15147, 15435, 16129,

            16265, 17095, 17429, 17657, 18219, 19100, 19366, 19417, 20393,

            20717, 21140],

           dtype='int64')

Int64Index([  606,   720,  1074,  2510,  2941,  3302,  3396,  3671,  3697,

             3735,  3877,  5020,  5315,  5349,  5362,  6198,  6428,  7027,

             7078,  7516,  7789,  7962,  8430,  8883,  8909,  8950,  9889,

            10194, 10377, 10736, 10782, 11449, 11489, 11715, 11937, 12212,

            12226, 12319, 12390, 12534, 12909, 12910, 13256, 13291, 13471,

            13489, 13618, 14355, 14474, 14782, 15313, 15674, 15762, 15812,

            15976, 16371, 16795, 16886, 17093, 17134, 17286, 17509, 18476,

            18493, 18756, 18890, 19271, 19562, 19774, 20038, 20355, 21008,

            21325, 21390, 21404, 21491],

           dtype='int64')



-   c "-1" = 47

-   c "20" = 76



Empty DataFrame

Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]

Index: []

Empty DataFrame

Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]

Index: []

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21402 entries, 0 to 21401

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21402 non-null  int64

 1   days_employed     21402 non-null  float64

 2   dob_years         21402 non-null  int64

 3   education         21402 non-null  object

 4   education_id      21402 non-null  int64

 5   family_status     21402 non-null  object

 6   family_status_id  21402 non-null  int64

 7   gender            21402 non-null  object

 8   income_type       21402 non-null  object

 9   debt              21402 non-null  int64

 10  total_income      21402 non-null  float64

 11  purpose           21402 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

In [14]:
pd.DataFrame({'-    ':df['children'].value_counts()}) #

   -
0                                 14149
1                                  4818
2                                  2055
3                                   330
4                                    41
5                                     9

 'dob_years'

In [16]:
print(df['dob_years'].value_counts().sort_index())

0     100

19     14

20     51

21    110

22    183

23    252

24    263

25    356

26    406

27    490

28    501

29    543

30    536

31    556

32    506

33    577

34    597

35    614

36    553

37    531

38    595

39    572

40    603

41    603

42    592

43    510

44    543

45    494

46    469

47    480

48    536

49    505

50    509

51    446

52    483

53    457

54    476

55    441

56    482

57    457

58    461

59    441

60    376

61    353

62    351

63    268

64    263

65    194

66    183

67    167

68     99

69     83

70     65

71     58

72     33

73      8

74      6

75      1

Name: dob_years, dtype: int64

     0.         , .      0.47   .

In [17]:
display(df[df['dob_years']==0].head(10))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
99,0,346541.618895,0,,1,/,0,F,,0,71291.522491,
149,0,2664.273168,0,,1,,3,F,,0,70176.435951,
270,3,1872.663186,0,,1,/,0,F,,0,102166.458894,
577,0,397856.565013,0,,1,/,0,F,,0,97620.687042,
1033,0,1158.029561,0,,0,,3,F,,0,303994.134987,
1141,0,934.654854,0,,1,/,0,F,,0,201852.430096,
1167,0,370879.508002,0,,1,/,0,F,,0,313949.845188,
1377,0,5043.219890,0,,0,/,0,M,,0,240523.618071,
1881,0,-1203.369529,0,,0,/,4,F,,0,145017.937533,
1889,0,370144.537021,0,,1,/,2,F,,0,127400.268338,

  ,    .

In [18]:
i0 = df[df['dob_years']==0].index #     0 
print(i0, '- =', len(i0))
print()
#   
str_del_count=0
for drop_str in i0:
    df = df.drop(drop_str)
    str_del_count+=1
print('   c "0" =', str_del_count)
print()
#
print(df[df['dob_years']==0].head())
print()  
df = df.reset_index(drop=True)
print()  
df.info()

Int64Index([   99,   149,   270,   577,  1033,  1141,  1167,  1377,  1881,

             1889,  2071,  2273,  2458,  2476,  2858,  3031,  3134,  3687,

             4044,  4127,  4899,  4907,  4991,  6042,  6376,  6380,  6638,

             6746,  6799,  6816,  6827,  7001,  7040,  7042,  7217,  7308,

             8020,  8373,  8529,  8627,  8739,  9014,  9103,  9538, 10112,

            10136, 10253, 10311, 10329, 10490, 10540, 11019, 11229, 11407,

            11420, 11514, 11601, 11925, 11997, 12159, 12230, 12333, 12658,

            13044, 13114, 13159, 13338, 13348, 13364, 13444, 13663, 13889,

            14395, 14432, 14526, 14577, 15057, 15211, 15324, 15348, 15797,

            15802, 15952, 16767, 16827, 17117, 17207, 17512, 18074, 18312,

            18434, 18627, 18745, 19008, 19261, 19716, 20346, 20461, 21060,

            21194],

           dtype='int64') - = 100



   c "0" = 100



Empty DataFrame

Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]

Index: []





<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21302 entries, 0 to 21301

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21302 non-null  int64

 1   days_employed     21302 non-null  float64

 2   dob_years         21302 non-null  int64

 3   education         21302 non-null  object

 4   education_id      21302 non-null  int64

 5   family_status     21302 non-null  object

 6   family_status_id  21302 non-null  int64

 7   gender            21302 non-null  object

 8   income_type       21302 non-null  object

 9   debt              21302 non-null  int64

 10  total_income      21302 non-null  float64

 11  purpose           21302 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

 'education'

In [19]:
print(df['education'].value_counts())

                13609

                  4666

                  764

                  700

       663

                   270

                   266

                250

        47

        29

                 17

                 15

              4

              1

              1

Name: education, dtype: int64

   'education'   ,    ,    .

 'education_id '

In [20]:
print(df['education_id'].value_counts())

1    15073

0     5202

2      739

3      282

4        6

Name: education_id, dtype: int64

  'education_id' ,   5  ,  .

 'family_status'

In [21]:
print(df['family_status'].value_counts())

 /           12254

           4139

  /       2783

                  1179

 /              947

Name: family_status, dtype: int64

     .

 'family_status_id'

In [22]:
print(df['family_status_id'].value_counts())

0    12254

1     4139

4     2783

3     1179

2      947

Name: family_status_id, dtype: int64

  'family_status_id'    'family_status',  .

  'gender '

In [23]:
print(df['gender'].value_counts())

F      14083

M       7218

XNA        1

Name: gender, dtype: int64

In [24]:
display(df.loc[df['gender']=='XNA'])

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
10595,0,2358.600502,24,,2,,1,XNA,,0,203905.157261,

  1     - 'XNA' -    .     , .      .        ,    .    .

 'income_type'

In [25]:
print(df['income_type'].value_counts())

          10996

           5034

           3819

         1447

        2

            2

               1

                1

Name: income_type, dtype: int64

  .

 'debt'

In [26]:
print(df['debt'].value_counts())

0    19578

1     1724

Name: debt, dtype: int64

    .

 'purpose'

In [27]:
print(df['purpose'].value_counts())

                                   791

                       768

                            764

                    670

           658

                      649

        644

                           642

                      639

                                     636

                              635

                              628

              626

      626

                 620

            619

                        618

                       616

                               607

                  600

                 501

                493

                                488

             482

                                474

                            472

           472

                       466

                    458

                 455

                        454

                         444

       443

                      440

                               439

                     431

               423

                      411

Name: purpose, dtype: int64

 ,    .  .

###  2.3.   .

In [28]:
df.info() # 
df['total_income'] = df['total_income'].astype(int)
print()
df.info() #

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21302 entries, 0 to 21301

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21302 non-null  int64

 1   days_employed     21302 non-null  float64

 2   dob_years         21302 non-null  int64

 3   education         21302 non-null  object

 4   education_id      21302 non-null  int64

 5   family_status     21302 non-null  object

 6   family_status_id  21302 non-null  int64

 7   gender            21302 non-null  object

 8   income_type       21302 non-null  object

 9   debt              21302 non-null  int64

 10  total_income      21302 non-null  float64

 11  purpose           21302 non-null  object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB



<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21302 entries, 0 to 21301

Data columns (total 12 columns):

 #   Column            Non-Null Count  Dtype

---  ------            --------------  -----

 0   children          21302 non-null  int64

 1   days_employed     21302 non-null  float64

 2   dob_years         21302 non-null  int64

 3   education         21302 non-null  object

 4   education_id      21302 non-null  int64

 5   family_status     21302 non-null  object

 6   family_status_id  21302 non-null  int64

 7   gender            21302 non-null  object

 8   income_type       21302 non-null  object

 9   debt              21302 non-null  int64

 10  total_income      21302 non-null  int64

 11  purpose           21302 non-null  object

dtypes: float64(1), int64(6), object(5)

memory usage: 2.0+ MB

###  2.4.  .

     .      ,      : days_employed, education_id, family_status, family_status_id, income_type, debt, total_income

 'education'

  `education`   ,  -   .   ,   .    ,           `str.lower()`.      -     'education'   "education_id".

In [29]:
#      education
display(df['education'].value_counts())

                13609
                  4666
                  764
                  700
       663
                   270
                   266
                250
        47
        29
                 17
                 15
              4
              1
              1
Name: education, dtype: int64

In [30]:
df['education'] = df['education'].str.lower() #       
display(df['education'].value_counts()) # ,

                15073
                  5202
       739
                282
              6
Name: education, dtype: int64

     15,      5 ( ,    `education_id` ).

In [31]:
df.duplicated().sum() #

71

In [32]:
df = df.drop_duplicates().reset_index(drop=True)  #    (      )
df.head(10)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,,0,/,0,F,,0,253875,
1,1,4024.803754,36,,1,/,0,F,,0,112080,
2,0,5623.422610,33,,1,/,0,M,,0,145885,
3,3,4124.747207,32,,1,/,0,M,,0,267628,
4,0,340266.072047,53,,1,,1,F,,0,158616,
5,0,926.185831,27,,0,,1,M,,0,255763,
6,0,2879.202052,43,,0,/,0,F,,0,240525,
7,0,152.779569,50,,1,/,0,M,,0,135823,
8,2,6929.865299,35,,0,,1,F,,0,95856,
9,0,2188.756445,41,,1,/,0,M,,0,144425,

In [33]:
df.duplicated().sum() #

0

###  2.5.    ,   .

In [36]:
education = df[['education_id', 'education']].drop_duplicates().reset_index(drop=True)
display(education)

   education_id            education
0             0
1             1
2             2
3             3
4             4

In [37]:
family_status = df[['family_status_id', 'family_status']].drop_duplicates().reset_index(drop=True)
display(family_status)

   family_status_id          family_status
0                 0         /
1                 1
2                 2          /
3                 3
4                 4    /

In [38]:
df1=df.drop(['education', 'family_status'], axis = 1)
display(df1.head())

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,0,0,F,,0,253875,
1,1,4024.803754,36,1,0,F,,0,112080,
2,0,5623.422610,33,1,0,M,,0,145885,
3,3,4124.747207,32,1,0,M,,0,267628,
4,0,340266.072047,53,1,1,F,,0,158616,

###  2.6.  .

In [40]:
df1['total_income_category'] = 'NaN'
df1.loc[df1['total_income'] <= 30000, ['total_income_category']] = ['E']
df1.loc[(30000 < df1['total_income']) & ( df1['total_income'] <= 50000), ['total_income_category']] = ['D']
df1.loc[(50000 < df1['total_income']) & ( df1['total_income'] <= 200000), ['total_income_category']] = ['C']
df1.loc[(200000 < df1['total_income']) & ( df1['total_income'] <= 1000000), ['total_income_category']] = ['B']
df1.loc[df1['total_income'] > 1000000, ['total_income_category']] = ['A']
print(df1['total_income_category'].value_counts())
display(df1.head())
print(df1.info())

C    15850

B     4987

D      347

A       25

E       22

Name: total_income_category, dtype: int64

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category
0,1,8437.673028,42,0,0,F,,0,253875,,B
1,1,4024.803754,36,1,0,F,,0,112080,,C
2,0,5623.422610,33,1,0,M,,0,145885,,C
3,3,4124.747207,32,1,0,M,,0,267628,,B
4,0,340266.072047,53,1,1,F,,0,158616,,C

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21231 entries, 0 to 21230

Data columns (total 11 columns):

 #   Column                 Non-Null Count  Dtype

---  ------                 --------------  -----

 0   children               21231 non-null  int64

 1   days_employed          21231 non-null  float64

 2   dob_years              21231 non-null  int64

 3   education_id           21231 non-null  int64

 4   family_status_id       21231 non-null  int64

 5   gender                 21231 non-null  object

 6   income_type            21231 non-null  object

 7   debt                   21231 non-null  int64

 8   total_income           21231 non-null  int64

 9   purpose                21231 non-null  object

 10  total_income_category  21231 non-null  object

dtypes: float64(1), int64(6), object(4)

memory usage: 1.8+ MB

None

###  2.7.   .

In [41]:
#       .   pymystem3
import json
from pymystem3 import Mystem
from collections import Counter
m = Mystem()

In [42]:
#          
def lemma_pur(purpose):
    lemma = ' ' .join(m.lemmatize(purpose))
    return lemma

df1['purpose_word'] = df1['purpose'].apply(lemma_pur)

In [43]:
#    ( )
df1['purpose_word'].unique()

array(['    \n', '    \n',
       '    \n', '    \n',
       '       \n', ' \n',
       '       \n', '          \n',
       '    \n',
       '       \n',
       '       \n',
       '       \n', ' \n',
       '    \n',
       '          \n',
       '          \n',
       '          \n',
       '       \n', ' \n',
       '          \n', ' \n',
       '    \n',
       '          \n',
       '    \n', ' \n',
       '       \n',
       '       \n', '       \n',
       '       \n', '    \n',
       '       \n', '    \n',
       '    \n', '          \n',
       '       \n', '    \n',
       '       \n'], dtype=object)

In [44]:
#    (purpose_category)      
def purpose_category(list):
    if '' in list:
        return '  '
    if "" in list:
        return ' '
    if "" in list:
        return ' '
    if '' or '' or '' in list:
        return '  '
    
df1['purpose_category'] = df1['purpose_word'].apply(purpose_category)

In [45]:
#       4 
df1.drop(['purpose', 'purpose_word'], axis = 1)

,children,days_employed,dob_years,education_id,family_status_id,gender,income_type,debt,total_income,total_income_category,purpose_category
0,1,8437.673028,42,0,0,F,,0,253875,B,
1,1,4024.803754,36,1,0,F,,0,112080,C,
2,0,5623.422610,33,1,0,M,,0,145885,C,
3,3,4124.747207,32,1,0,M,,0,267628,B,
4,0,340266.072047,53,1,1,F,,0,158616,C,
...,...,...,...,...,...,...,...,...,...,...,...
21226,1,4529.316663,43,1,1,F,,0,224791,B,
21227,0,343937.404131,67,1,0,F,,0,155999,C,
21228,1,2113.346888,38,1,1,M,,1,89672,C,
21229,3,3112.481705,38,1,0,M,,1,244093,B,
21230,2,1984.507589,40,1,0,F,,0,82047,C,

###   .

#####  1:           ?

In [46]:
df_pivot1 = df.pivot_table(index=['debt'], columns='children', values = 'family_status_id', aggfunc='count')
child0 = df_pivot1[0][1] / df_pivot1[0][0]
child1 = df_pivot1[1][1] / df_pivot1[1][0]
child2 = df_pivot1[2][1] / df_pivot1[2][0]
child3 = df_pivot1[3][1] / df_pivot1[3][0]
child4 = df_pivot1[4][1] / df_pivot1[4][0]

print("{0:.2f}%  ".format(child0*100))
print("{0:.2f}% 1 ".format(child1*100))
print("{0:.2f}% 2 ".format(child2*100))
print("{0:.2f}% 3 ".format(child3*100))
print("{0:.2f}% 4 ".format(child4*100))

8.16%

10.14% 1

10.51% 2

8.97% 3

10.81% 4

#####  1:

   ,     .

#####  2:           ?

In [47]:
df_pivot2 = df.pivot_table(index=['debt'], columns='family_status', values='dob_years', aggfunc='count')
no_family = df_pivot2['  /  '][1] / df_pivot2['  /  '][0]
divorce = df_pivot2[' '][1] / df_pivot2[' '][0]
widow = df_pivot2[' / '][1] / df_pivot2[' / '][0]
partner = df_pivot2[' '][1] / df_pivot2[' '][0]
family = df_pivot2[' / '][1] / df_pivot2[' / '][0]
print("{0:.2f}%   /  ".format(no_family*100))
print("{0:.2f}%  ".format(divorce*100))
print("{0:.2f}%  / ".format(widow*100))
print("{0:.2f}%  ".format(partner*100))
print("{0:.2f}%  / ".format(family*100))

10.85%   /

7.67%

7.01%  /

10.27%

8.18%  /

#####  2:

  /            .

#####  3:           ?

In [48]:
df_pivot3 = df1.pivot_table(index=['debt'], columns='total_income_category', values='dob_years', aggfunc='count')
ud1 = df_pivot3['E'][1] / df_pivot3['E'][0]
ud2 = df_pivot3['D'][1] / df_pivot3['D'][0]
ud3 = df_pivot3['C'][1] / df_pivot3['C'][0]
ud4 = df_pivot3['B'][1] / df_pivot3['B'][0]
ud5 = df_pivot3['A'][1] / df_pivot3['A'][0]
print('{0:.2f}% E'.format(ud1*100))
print("{0:.2f}% D".format(ud2*100))
print("{0:.2f}% C".format(ud3*100))
print("{0:.2f}% B".format(ud4*100))
print("{0:.2f}% A".format(ud5*100))

10.00% E

6.44% D

9.28% C

7.62% B

8.70% A

#####  3:

          .

#####  4:          ?

In [49]:
df_pivot4 =df1.pivot_table(index=['debt'], columns='purpose_category', values='dob_years', aggfunc='count')
ck1 = df_pivot4['  '][1] / df_pivot4['  '][0]
ck2 = df_pivot4['  '][1] / df_pivot4['  '][0]
ck3 = df_pivot4[' '][1] / df_pivot4[' '][0]
ck4 = df_pivot4[' '][1] / df_pivot4[' '][0]
print("{0:.2f}%   ".format(ck1*100))
print("{0:.2f}%   ".format(ck2*100))
print("{0:.2f}%  ".format(ck3*100))
print("{0:.2f}%  ".format(ck4*100))

10.28%

7.83%

10.25%

8.55%

#####  4:

     ,       .

##  :

  -           -  /            .   ,      ,     3 .        .